* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

.wrapper {
   font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  h1 {
    margin: 12px 0;
    text-align: center;
  }
  .trivia {
    height: 350px;
    background-image: url(http://getwallpapers.com/wallpaper/full/d/9/a/450097.jpg#.X_vMSzHhV84.link); 
    background-repeat: no-repeat;
    background-position: 0 65%;
    background-size: cover;
    text-align: center;
  }
  
  blockquote {
    font: bold 3em 'Pinyon Script', cursive;
    margin-bottom: 0;
  }
  #answer {
    width: 400px;
    margin: 5px 0;
    padding: 5px;
    font-size: 110%;
  }
  #submit, #next, #reset {
    background: #000;
    color: #fff;
    padding: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
  }
  #next {
      margin-left: 225px;
  }
  #reset {
      margin-left: 175px;
  }


